/* .container {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
} */

.container {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-areas:
    'title title title'
    'view view view';
  align-items: center;
  text-align: center;
}

/* .flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

.view {
  grid-area: view;
  flex-direction: column;
}

.title {
  grid-area: title;
  flex-direction: column;
}
